.btn{
    padding: 10px 20px;
    border-radius: 30px;
    background-color: orange;    
    font-weight: 400;    
    font-size: 14px;
    text-transform: uppercase;

    &:hover{
        background-color: rgb(211, 205, 205);        
    }

}