.news{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
    max-width: 100%;
    margin-top: 40px;
    
    .brand{
        position: relative;
        background: rgba(222, 137, 40, 0.444);
        height: 330px;
        width: 250px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;

        :hover{
            background: #2e2929;
        }

        a{
            text-decoration: none;
            color: rgba(225, 255, 225, 0.4);
            text-transform: uppercase;
        }
    }
}

.container{    
    max-width: 1200px;
    margin: 0 auto;    
}

.imagen{
    width: 700px;
    height: 500px;
    margin-top: 20px;    
}

p{
    padding-left: 12px;
    margin-top: 20px;
    text-align: justify;
}

h5{
    font-size: 40px;
    text-align: center;
    margin-top: 150px;
}